<h2>Chef Recipes</h2>
{{!-- Create a table --}}
<table id="chefs-recipes-table">
    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row header in order --}}
        {{#each data}}
        <tr>
            <td>{{this.chefs_recipes_details_id}}</td>
            <td>{{this.chef_id}}</td>
            <td>{{this.recipe_id}}</td>
            <td><button onclick="deleteChefRecipe({{this.chefs_recipes_details_id}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/delete_chef_recipe.js"></script>

<h2>Add a Chef Recipe</h2>
<p>To add a Chefs Recipe, please enter the information below and click 'Submit'!</p>
<form id="add-chef-recipe-form" method="POST" action="/add-chef-recipe-form">
    <label for="input-chef-recipe">Chef ID: </label>
    <input type="text" name="input-chef-recipe" id="input-chef-recipe">
    
    <label for="input-recipe-id">Recipe ID: </label>
    <input type="text" name="input-recipe-id" id="input-recipe-id">

    <input type="submit">
</form>