<h2>Recipes</h2>
{{!-- Create a table --}}
<table id="recipes-table">
    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr>
            <td>{{this.recipe_id}}</td>
            <td>{{this.recipe_name}}</td>
            <td>{{this.recipe_description}}</td>
            <td>{{this.cook_time}}</td>
            <td>{{this.food_category}}</td>
            <td>{{this.recipe_steps}}</td>
            <td><button onclick="deleteRecipe({{this.recipe_id}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>